[submodule "sald/vendor/glfw"]
	path = sald/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "sald/vendor/glm"]
	path = sald/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "sald/vendor/stb"]
	path = sald/vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "sald/vendor/assimp"]
	path = sald/vendor/assimp
	url = https://github.com/assimp/assimp.git
[submodule "sald/vendor/soil"]
	path = sald/vendor/soil
	url = https://github.com/littlstar/soil.git
[submodule "saldGui/vendor/imgui"]
	path = saldGui/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "sald/vendor/spdlog"]
	path = sald/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
